// layout

$MW : 375px;
$DW : 1440px;

// colors

/* primary */

$primary_b: hsl(233, 26%, 24%);
$primary_g: hsl(136, 65%, 51%);
$primary_c: hsl(192, 70%, 51%);


/* neutral */


$neutral_gb: hsl(233, 8%, 62%);
$neutral_lgb: hsl(220, 16%, 96%);
$neutral_vlg: hsl(0, 0%, 98%);
$neutral_w: hsl(0, 0%, 100%);


/* typo */

$FS: 18px;
$FF: 'https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap';
$FW3: 300;
$FW4: 400;
$FW7: 700;
