/* primary */
/* neutral */
/* typo */
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
/* -----------GENERICS------------ */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
}

.cta {
  padding: 10px 25px;
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
  background: linear-gradient(to right, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  border-radius: 30px;
  font-size: 12px;
  font-weight: 700;
  position: relative;
}
.cta:hover::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.3);
}

/* --------------------- */
.menu {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, hsl(233deg, 26%, 24%), hsla(0deg, 0%, 98%, 0.1));
  display: none;
}
.menu--links {
  width: 330px;
  height: 310px;
  margin: auto;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: hsl(0deg, 0%, 100%);
  border-radius: 5px;
}
.menu--link {
  font-weight: 400;
  font-size: 18px;
  color: hsl(233deg, 26%, 24%);
  margin: 15px 0px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px 20px;
  position: static;
  top: 0;
  left: 0;
  background: hsl(0deg, 0%, 100%);
  position: relative;
}
.header--burger {
  cursor: pointer;
}
.header--links {
  display: none;
}
.header .cta {
  display: none;
}

h1, h2, h3 {
  text-align: center;
  color: hsl(233deg, 26%, 24%);
  font-weight: 300;
}

section, footer {
  padding: 50px 20px;
}

section:nth-child(odd) {
  background: hsl(0deg, 0%, 100%);
}
section:nth-child(even) {
  background: hsl(220deg, 16%, 96%);
}

.hero {
  padding: 0px;
  padding-bottom: 50px;
}
.hero--entry {
  height: 45%;
  width: 100%;
  background: url("./images/bg-intro-mobile.svg");
}
.hero--entry .hero--img {
  width: 100%;
  margin-top: -36%;
}
.hero--text {
  /* display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; */
  padding: 20px;
}
.hero--text h1 {
  font-size: 2em;
}
.hero--text p {
  color: hsl(233deg, 8%, 62%);
  font-size: 14px;
  text-align: center;
  padding: 20px 0px;
  margin-bottom: 10px;
  line-height: 20px;
}
.hero--text .cta {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
}

.offers {
  padding: 50px 20px;
}
.offers h1 {
  width: 60%;
  margin: auto;
}
.offers h3 {
  font-weight: 400;
  font-size: 1em;
}
.offers p {
  color: hsl(233deg, 8%, 62%);
  font-size: 14px;
  text-align: center;
  padding: 20px 0px;
}
.offers--offer {
  text-align: center;
}
.offers--offer img {
  width: 60px;
  padding: 20px 0px;
}
.offers--offer h3 {
  padding: 10px 0px;
}
.offers--offer p {
  padding: 10px 10px;
}

.articles h2 {
  padding: 20px 0px;
}

.article {
  border-radius: 5px;
  width: 100%;
  height: fit-content;
  padding-bottom: 20px;
  margin: 10px 0px;
}
.article--thumbnail {
  height: 200px;
  background-position: 10px;
  background-size: cover;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}
.article--infos {
  padding: 10px 15px;
}
.article--author {
  font-size: 12px;
  color: hsl(233deg, 8%, 62%);
  padding: 10px 0px;
}
.article--title {
  font-size: 16px;
  color: hsl(233deg, 26%, 24%);
  text-decoration: none;
  padding: 20px 0px;
}
.article--desc {
  padding: 10px 0px;
  font-size: 14px;
  color: hsl(233deg, 8%, 62%);
}

.footer {
  background: hsl(233deg, 26%, 24%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.footer--logo {
  width: 60%;
  margin: auto;
  margin-bottom: 30px;
}
.footer > div {
  text-align: center;
  height: fit-content;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px 0px;
}
.footer > div:first-child {
  padding-bottom: 40px;
}
.footer--social {
  padding: 5px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer--social img {
  object-fit: contain;
  margin: 0px 10px;
  width: 25px;
}
.footer--links {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-direction: inherit;
  margin-top: -20px;
  margin-bottom: 0px;
}
.footer--links a {
  font-size: 14px;
  color: hsl(0deg, 0%, 100%);
  margin: 10px 0px;
}
.footer .cta {
  margin: auto;
  padding: 10px 15px;
  width: 60%;
}
.footer--rights {
  font-size: 14px;
  color: hsl(233deg, 8%, 62%);
  font-weight: 700;
}

@media (min-width: 1440px) {
  .header {
    display: flex;
    padding: 38px 120px;
    z-index: 21512020;
  }
  .header .cta {
    display: block;
    padding: 15px 40px;
  }
  .header--links {
    display: flex;
    justify-content: space-around;
  }
  .header--link {
    color: hsl(233deg, 26%, 24%);
    margin: 0px 10px;
    font-size: 700;
    cursor: pointer;
    position: relative;
  }
  .header--link:hover::after {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    background: hsl(136deg, 65%, 51%);
    bottom: -26px;
    left: 0;
    border-radius: 5px;
  }
  .header--burger {
    display: none;
  }
  .hero {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .hero--entry {
    background: url("./images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: 10% 70%;
    background-size: 140%;
    width: 80%;
    height: 80vh;
  }
  .hero--img {
    width: 40%;
    aspect-ratio: 0.8;
    object-fit: contain;
    position: relative;
    top: 23%;
    left: 17.5%;
  }
  .hero--text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: start;
    padding-left: 100px;
  }
  .hero--text h1 {
    width: 80%;
    text-align: start;
    padding-top: 50px;
  }
  .hero--text p {
    width: 50%;
    padding: 20px 0px;
    text-align: start;
  }
  .hero--text .cta {
    display: unset;
    position: relative;
    left: unset;
    transform: unset;
    margin: unset;
  }
  .offers {
    padding: 65px 100px;
  }
  .offers > h1 {
    font-size: 2em;
    margin: 0px;
    text-align: start;
  }
  .offers h3 {
    font-weight: 400;
    font-size: 18px;
  }
  .offers > p {
    color: hsl(233deg, 8%, 62%);
    font-size: 18px;
    text-align: start;
    padding: 25px 0px;
    width: 50%;
  }
  .offers--offer {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .offers--offer > div {
    width: 25%;
    margin: 0px 15px;
  }
  .offers--offer img {
    width: 60px;
    padding: 20px 0px;
    display: flex;
  }
  .offers--offer h3 {
    padding: 10px 0px;
  }
  .offers--offer p {
    font-size: 18px;
    padding: 10px 0px;
    line-height: 25px;
  }
  .offers--offer h3, .offers--offer p {
    text-align: start;
  }
  .articles {
    padding: 50px 100px;
  }
  .articles > h2 {
    text-align: start;
  }
  .articles > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
  }
  .articles > div .article {
    width: 25%;
    margin: 0px 10px;
  }
  .footer {
    flex-direction: row;
    justify-content: safe;
    padding-left: 30px;
    padding-right: 30px;
  }
  .footer > div {
    width: 20%;
  }
  .footer > div > img {
    width: 40%;
  }
  .footer--social {
    margin-top: 20px;
  }
  .footer--social > img {
    margin: 0px 5px;
  }
  .footer--links {
    display: grid;
    width: 40%;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-self: center;
    margin: 0px 100px;
    margin-top: -30px;
  }
}

/*# sourceMappingURL=style.css.map */
